@import ~styles/abstract/mixins
@import ~styles/abstract/variables

.nav-link
  cursor: pointer
  color: getColor('text-gray')
  // color: $c-gray-3
  transition: 0.2s
  &:hover,
  &.is-active
    color: getColor('text-gray')
  &--accent
    &:hover,
    &.is-active
      color: $c-accent-1
