@import ~styles/abstract/_grid
@import ~styles/abstract/variables

.coin-preview
  display: flex
  justify-content: center
  align-items: center
  padding: 150px 20px
  cursor: pointer
  transition: 0.2s
  user-select: none
  &.is-active
    background-color: #F5FAFF
  &__icon
    height: 45px
