// Fonts
$base-font-size: 14px;
$base-font-family: 'NotoSans', sans-serif;

// Grid
$columns: 12;
$gutter : 30px;
$spacer : 1rem;

// Container
$cnt: 1720px;

// Breakpoints
$bp-xxl: 1300px;
$bp-xl: 1170px;
$bp-lg: 991px;
$bp-md: 767px;
$bp-sm: 575px;
$bp-xs: 460px;

// Colors
$c-light           : #ffffff;
$c-dark            : #3c4146;
$c-primary         : #5e00d6;
$c-primary-light   : #923dff;
$c-primary-dark    : #44009a;
$c-secondary       : #ffc700;
$c-secondary-dark  : #cc9f00;
$c-secondary-light : #ffdd66;
$c-tertiary        : #48d09f;
$c-tertiary-light  : #c8f1e2;
$c-quaternary      : #e7ecf2;
$c-quaternary-light: #f3f4f7;
$c-quaternary-dark : #9099a6;
$c-danger          : #e1233d;
$c-danger-light    : #f9d7db;

// Themes
$theme: (
  base         : $c-quaternary-light,
  theme        : $c-light,
  text-primary : $c-dark,
  text-seconday: $c-quaternary-dark,
  text-contrast: $c-light,
);
$theme-dark: (
  base         : #292d30,
  theme        : $c-dark,
  text-primary : $c-light,
  text-seconday: $c-light,
  text-contrast: $c-dark,
);

// UI colors
$overlay-bg: rgba(#202329, 0.5);

// UI elements
$r-primary: 6px;
$h-height : 80px;
$s-primary: 0px 0px 10px rgba(33, 58, 88, 0.1);
$s-alt    : 0px 0px 5px rgba(33, 58, 88, 0.4);
