@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.list
  border: 1px solid $c-gray-4
  border-radius: $r-primary
  &--alt
    .list__header
      background-color: #E2D7F0
      color: $c-dark-1
    .list__item
      background-color: #f7f2fd
      border-top: 1px solid #E5E0EB
      border-right: 1px solid #E5E0EB
    &.is-active
      background: #EFE5FB

  &__header
    padding: 15px 20px
    background-color: $c-gray-1
    +media-max($bp-sm)
      padding: 15px
  &__items
    display: flex
    flex-wrap: wrap
  &__item
    width: 50%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 12px 20px 10px
    cursor: pointer
    background-color: $c-light
    border-top: 1px solid $c-gray-1
    border-right: 1px solid $c-gray-1
    transition: 0.2s
    +media-max($bp-sm)
      padding: 12px 15px
    +media-max($bp-xs)
      width: 100%
      border-right: 0 !important
    &.is-active
      background: rgba($c-primary-1, 0.1)
    &:nth-child(even)
      border-right: 0
    &-game
      margin-right: 10px
