@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.list
  border: 1px solid $c-gray-4
  border-radius: $r-primary
  &--alt
    .list__header
      background-color: #E2D7F0
      color: $c-dark-1
    .list__item
      background-color: #f7f2fd
      border: 1px solid #E5E0EB
    &.is-active
      background: #EFE5FB

  &__header
    font-size: rem(14px)
    font-weight: 600
    line-height: 1
    color: $c-dark-3
    padding: 15px 20px
    background-color: $c-gray-1
  &__items
    display: flex
    flex-wrap: wrap
  &__item
    width: 50%
    display: flex
    justify-content: space-between
    align-items: center
    padding: 12px 20px
    cursor: pointer
    background-color: $c-light
    border: 1px solid $c-gray-1
    border-bottom: 0
    transition: 0.2s
    &.is-active
      background: rgba($c-primary-1, 0.1)
    &:nth-child(odd)
      border-right: 0
    &-game
      font-size: rem(14px)
      font-weight: 500
      line-height: 1
    &-price
      font-size: rem(16px)
      font-weight: 700
      line-height: 1
