@import ~styles/abstract/variables
@import ~styles/abstract/mixins

h1,.h1, h2,.h2
  line-height: 1.4
  font-weight: 700

h1, .h1
  font-size: rem(48px)
h2, .h2
  font-size: rem(28px)
h3, .h3
  font-size: rem(18px)
h4, .h4
  font-size: rem(16px)

p, .p
  font-size: rem(14px)
  line-height: 1.5
  font-weight: 400
.p-xl
  font-size: rem(16px)
  line-height: 2
.p-sm
  font-size: rem(12px)
  line-height: 2

// Text colors
.text-dark-1
  color: $c-dark-1
.text-dark-2
  color: $c-dark-2
.text-dark-3
  color: $c-dark-3
.text-light
  color: $c-light
.text-accent-1
  color: $c-accent-1
.text-accent-2
  color: $c-accent-2

// Text weights
.text-regular
  font-weight: 400
.text-medium
  font-weight: 500
.text-semiBold
  font-weight: 600
.text-bold
  font-weight: 700

// Text aligns
.text-left
  text-align: left
.text-center
  text-align: center
.text-right
  text-align: right

// Text transforms
.text-uppercase
  text-transform: uppercase
