@import ~styles/abstract/grid
@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.event-filters
  background-color: $c-light
  border-radius: $r-primary
  padding: 20px
  +media-max($bp-sm)
    padding: 20px 15px
  &__wrap
    +row()
  &__item
    display: flex
    align-items: center
    +col(3)
    +media-max($bp-xl)
      +col(4)
    +media-max($bp-md)
      +col(6)
      flex-direction: column
      align-items: flex-start
      &:not(:last-child)
        margin-bottom: 15px
    +media-max($bp-sm)
      +col(12)
    &-title
      margin-right: 15px
      white-space: nowrap
      +media-max($bp-md)
        margin-bottom: 10px
    &-select
      width: 100%
      max-width: 100%
