@import ~styles/abstract/mixins
@import ~styles/abstract/variables

.header-spacer
  height: $h-height
.header
  position: fixed
  top: 0
  left: 0
  height: $h-height
  width: 100%
  background-color: getColor('theme')
  z-index: 1000
  box-shadow: $s-primary
  &__container
    display: flex
    align-items: center
    height: 100%

  // Left
  &__left
    margin-right: 70px
    +media-max($bp-xxl)
      margin-right: 30px
    +media-max($bp-md)
      margin-right: 20px
  &__logo
    max-width: 200px
    +media-max($bp-xxl)
      max-width: 180px
    +media-max($bp-xs)
      max-width: 150px

  // Right
  &__right
    margin-left: auto
  &__widgets
    width: 100%
    display: flex
    align-items: center
  &__widget
    &:not(:last-child)
      margin-right: 20px
      +media-max($bp-xs)
        margin-right: 15px
  &__burger
    padding-left: 20px
    border-left: 1px solid $c-gray-2
    +media-max($bp-xs)
      padding-left: 15px

  .header__mobile
    background-color: getColor('theme')
    box-shadow: $s-primary
    position: fixed
    top: 0
    right: 0
    height: 100%
    width: 100%
    max-width: 370px
    padding: 40px 20px
    transition: 0.2s
    transform: translateX(100%)
    z-index: 1001
    &.is-active
      transform: translateX(0)
    &-line
      &:not(:last-child)
        margin-bottom: 40px
