@import ~styles/abstract/_grid
@import ~styles/abstract/variables

.header-spacer
  height: $h-height
.header
  position: fixed
  top: 0
  left: 0
  height: $h-height
  width: 100%
  background-color: $c-light
  z-index: 200
  &__container
    display: flex
    align-items: center
    height: 100%

  // Left
  &__left
    margin-right: 70px
  &__logo
    max-width: 200px

  // Right
  &__right
    margin-left: auto
  &__widgets
    width: 100%
    display: flex
    align-items: center
  &__widget
    &:not(:last-child)
      margin-right: 20px
    &-text
      font-size: rem(14px)
      line-height: 1
      font-weight: 700
      cursor: pointer
      color: $c-dark-3
      transition: 0.2s
      &:hover,
      .is-active
        color: $c-dark-1
